# Ignore common build and development files
Dockerfile
.dockerignore
.github
.env
.git
.gitignore
.project
nginx
.vscode
.idea/
node_modules
*node_modules
# Ignore cache and log files
.cache/
*.log
npm-debug.log
npm-debug.log.*

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Build output directories
dist/
build/
out/
target/
