@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Reset only specific elements */
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

/* Custom scrollbar style */
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: hsl(0, 5%, 96%); /* matches card background */
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: hsl(34, 3%, 60%); /* light orange */
  border-radius: 9999px;
  transition: 0.2s ease-in-out;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: hsl(60, 1%, 65%); /* darker on hover */
}
